@charset "utf-8";


* {
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
margin: 0;
padding: 0;
}

header{
	color:#ffffff;
	font-size: 30px;
	padding:30px;
	}

body {
margin:0;
width: 100%;
background-color: #E7E7E7;
padding: 5px;
font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
background-color: #2A2A2A;
}
  
  .container{
	  color:#FFFFFF;
	  padding: 20px;
	  }
  
a{
color:#000000;
margin: 0;

	}
	
a:hover{
	color: #989898;
	}

.cell{
	padding: 3px;
	}

.active{
	background-color: #477AAF;
	
	}

.nav {
  margin: 0; 
  top: 0;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
align-items: center;
  -webkit-flex-flow: row wrap;
  background-color: #2D3F5B;
  overflow: hidden;
}


.nav a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
  font-size: 14px;
  padding: 20px;
}


.nav a:hover {
	background-color: #477AAF;}

.nav .icon {
    display: none;
}



@media screen and (max-width: 600px) {
  .nav a {display: none;}
  .nav a.icon {
    display: block;
	width:100%; 
  }

  
  .nav.responsive a.icon {
    right: 0;
    top: 0;
  }
  .nav.responsive a {
    float: none;
    display: block;
	width:100%; 
  }
}





@media screen and (min-width: 400px) {
.grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.cell {
    width: 50%;
}
}
@media screen and (min-width: 750px) {
.cell {
  width: calc(100% / 3);
}
}

@media screen and (min-width: 1000px) {
.cell {
  width: calc(100% / 5);
}
}